# API Environment Variables to be set inside container
# Copy this file to .env.api and set values for your local setup

# Model to serve
API_MODEL_NAME=SimpleCNN
API_RUN_NAME=your_run_name_here
API_DEVICE=cuda
API_TRACKING_URI=http://mlflow:5000
API_EXPERIMENT_NAME=image_classifier
